div.content#content
  section.users.shadowBox#users
    h2 This is a user list
  section.rightWrapper
    section.chatWindow.shadowBox#chatWindow
      h2 THis is where the chat is going on
    section.messageBox.shadowBox#messageBox
      input(type='text')