script(src='/javascripts/messages.js')
  
div.content#content
  section.users.shadowBox#users
  section.rightWrapper
    section.chatWindow.shadowBox#chatWindow
    section.messageBox.shadowBox
        input(type='text')#message-box