script(src='/javascripts/init.js')

div.content
    div.inputField
      form(name="initForm", method='POST', action='init')
        h4.head LOGO
        input(name="chatName", type="text", value="Chat name", onclick="this.value=''").messageBox.initBox#initBox
      div.initWrapper
        span.buttons
          a(href="javascript:customForm()").button Start Custom Chat
        span.buttons
          a(href="javascript:randomForm()").button Generate Random Chat