script(src='/javascripts/init.js')

div.container#container
  form(method='POST', action='init')
    input(type='text', name='chatName').initBox
    input(type='submit').initButton
  button#generate.initButton Generate secret chat