!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/blueprint/screen.css')
    link(rel='stylesheet', href='/stylesheets/blueprint/print.css')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/ui.js')
    script(src='/javascripts/messages.js')
  body!= body